@import url('https://fonts.googleapis.com/css?family=Ravi+Prakash');

/*General Overall Styles*/
html {
    min-height: 100%
}

* {
  font-family: Optima;
}

h1 {
  text-align: center;
}

p{
  font-size: 1.5em;
  text-indent: 50px;
  text-overflow: ellipsis;
}

/*Nav Styles*/
#logo {
    max-width: 50%;
    max-height: 50%;
}

.navbar-fixed-top {
  position: inherit;
}

#indexNav {
  position: fixed;
}

/*Carousel Styles*/
.jumbotron {
    height: 100%;
}

img.item {
    width: 100vh;
    height: 100vh;
}

/*Thumbnail Images styles*/
.thumbnails {
    padding: 0px 10% 5% 10%;
}

.thumbImg:hover {
  opacity: 0.2;
}

.partyName {
  position: absolute;
  top: 60%;
  left: 20%;
  font-size: 36px;
   color: black;
   font-family: 'Ravi Prakash', cursive;
}

.partyName:hover {
  text-shadow: 0 0 3px #fff;
}

/*About Page Styles*/
.text{
  margin-bottom:  20%;
}

#demo {
	width: 100%;
	padding: 3px;
	border: 1px solid #ccc;
}

/*Contact Form styles*/
#middle{
  margin-top: 7%;
}

#shareButtons {
  padding-left: 10%;
}

/*Footer Styles*/
footer {
    background: #333;
    color: #fff;
    padding: 30px 0 20px 0;
    position: absolute;
    width: 100%;
}

footer li {
    float: left;
    padding: 0px 10px 0px 10px;
    list-style: none;
}

footer a {
    color: #fff;
}

footer p {
    float: right;
    text-indent: 0px;
    font-size: 1.2em;
}

/*SHARE BUTTON*/
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

/* TWITTER */
.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

/* FACEBOOK */
.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

/* REDDIT */
.resp-sharing-button--reddit {
  background-color: #e94224
}

.resp-sharing-button--reddit:hover {
  background-color: #db4024
}

/* EMAIL */
.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}




/*For Debugging Purposes*/
/** {
  border: 1px solid red;
}*/
